@use 'src/styles/vars';

.header {
  //position: fixed;
  //top: 0;
  align-self: center;
  justify-self: start;
  display: flex;
  flex-direction: column;
  //flex-grow: 2;
  //height: vars.$headerHeightMobile;
  width: vars.$windowWidth;
  max-width: 100%;
  margin: vars.$halfGutter;
  
  @media (min-width: vars.$desktopMinWidth){
    //height: vars.$headerHeightDesktop;
  }
  
  &__content {
    //width: 100%;
    border: vars.$boxBorder;
    border-radius: vars.$boxBorderRadius;
    box-shadow: vars.$boxShadow;
    z-index: 2;
    background-color: vars.$mainColor;

    @media (min-width: vars.$desktopMinWidth){
      margin: vars.$gutter;
    }

    &__title {
      margin: auto;
      font-size: 1.1rem;

      @media (min-width: vars.$desktopMinWidth){
        margin: 2*vars.$gutter;
      }
      &--red:hover {
        color: vars.$action1Color;
      }
      &--yellow:hover {
        color: vars.$activeColor;
      }
      &--green:hover {
        color: vars.$action2Color;
      }
      &--blue:hover {
        color: vars.$layoutItemColor;
      }
    }
  }
}
