@use 'src/styles/vars';

.header {
  align-self: center;
  justify-self: start;
  display: flex;
  flex-direction: column;
  width: vars.$windowWidth;
  margin: 0 0 vars.$halfGutter;

  @media (min-width: vars.$desktopMinWidth){
    //margin: vars.$gutter;
  }
  
  &__content {
    border: vars.$boxBorder;
    border-radius: vars.$boxBorderRadius;
    box-shadow: vars.$boxShadow;
    z-index: 2;

    &__title {
      margin: auto;

      @media (min-width: vars.$desktopMinWidth){
        margin: vars.$gutter;
      }

      span {
        transition: 0.5s;
      }
      
      &--red:hover {
        color: vars.$action2Color;
        transition: 0.01s;
      }
      &--yellow:hover {
        color: vars.$activeColor;
        transition: 0.01s;
      }
      &--green:hover {
        color: vars.$action2Color;
        transition: 0.01s;
      }
      &--blue:hover {
        color: vars.$layoutItemColor;
        transition: 0.01s;
      }
    }
  }
}
