@use 'src/styles/vars';

.header {
  justify-self: start;
  display: flex;
  flex-direction: column;
  width: vars.$windowWidth;
  margin: vars.$gutter;

  h1 {
    text-align: center;
    margin: vars.$gutter;
  }

  &__content {
    border: vars.$boxBorder;
    border-radius: vars.$boxBorderRadius;
    box-shadow: vars.$boxShadow;
    z-index: 2;
    padding: vars.$halfGutter;

    &__title {
      margin: auto;

      @media (min-width: vars.$desktopMinWidth){
        margin: vars.$gutter 0 vars.$gutter 0;
      }

      span {
        transition: 0.5s;
      }
      
      &--red:hover {
        color: vars.$action1Color;
        transition: 0.05s;
      }
      &--yellow:hover {
        color: vars.$activeColor;
        transition: 0.05s;
      }
      &--green:hover {
        color: vars.$action2Color;
        transition: 0.05s;
      }
      &--blue:hover {
        color: vars.$layoutItemColor;
        transition: 0.05s;
      }
    }

    &__subtitle {
      display: none;

      @media (min-width: vars.$desktopMinWidth){
        font-size: 1.5rem;
        font-weight: bold;
        display: block;
        margin-top: 0;
        margin-bottom: vars.$halfGutter;
      } 
    }
  }
}
