@use 'src/styles/vars';

.homepage {
  position: fixed;
  width: 0.98*vars.$windowWidth;
  margin: vars.$gutter auto;
  padding: vars.$gutter;
  border: vars.$boxBorder;
  border-radius: vars.$boxBorderRadius;
  box-shadow: vars.$boxShadow;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
    
  &__text {
    @media (min-width: vars.$desktopMinWidth){
      font-size: 1.5rem;
      width: 40%;
      margin: 0 auto;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: vars.$desktopMinWidth){
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &__button {
    margin: vars.$gutter vars.$gutter;

    @media (min-width: vars.$desktopMinWidth){
      font-size: 1.5rem !important;
    }
  }

  img {
    height: 30%;
  }

  .startup{
    &__form {
      &__element {

        ul {
          list-style: none;
          padding: vars.$halfGutter;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;

          li {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

}
