@use 'src/styles/vars';

.homepage {
  position: fixed;
  margin: vars.$halfGutter vars.$halfGutter;
  padding: vars.$gutter;
  border: vars.$boxBorder;
  border-radius: vars.$boxBorderRadius;
  box-shadow: vars.$boxShadow;
  width: vars.$windowWidth;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
    
  &__text {
    @media (min-width: vars.$desktopMinWidth){
      font-size: 1.5rem;
      width: 40%;
      margin: 0 auto;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: vars.$desktopMinWidth){
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &__button {
    border: none;
    border-radius: vars.$buttonBorderRadius;
    width: 50% !important;
    margin: vars.$gutter vars.$gutter;
    padding: 2*vars.$buttonPadding;
    color: vars.$buttonColor;
    font-family: vars.$fontFamily;

    @media (min-width: vars.$desktopMinWidth){
      width: 20% !important;
      font-size: 1.5rem;;
    }

    &__connexion {
      background-color: vars.$activeColor;
      box-shadow: 2px 2px vars.$activeColorDark;
    }
    &__inscription {
      background-color: vars.$action1Color;
      box-shadow: 2px 2px vars.$action1ColorDark;
    }
    &__rules {
      background-color: vars.$layoutItemColor;
      box-shadow: 2px 2px vars.$layoutItemColorDark;
      color: vars.$mainColor;
      text-decoration: none;
    }
  }

  .connexion, .creation{
    &__form {
      display: flex;
      flex-direction: column;

      &__element {
        display: flex;
        flex-direction: column;
        margin: vars.$gutter; 
      }
    }

    &__button__close {
      position: absolute;
      right: vars.$gutter;
      top: vars.$gutter;
      height: 1.5rem;
      width: 1.5rem;
      font-size: 1rem;
      border: none;
      border-radius: 50%;
      background-color: vars.$action2Color;
      transform: rotate(45deg);
    }
  }

  img {
    height: 30%;
  }

}
