@use 'src/styles/vars';

.startup {
  height: 100%;

  &__places {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__number {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      //width: 100%;

      .place {
        background-color: darken(vars.$layoutItemColor, 40%);
        width: 1em;
        height: 1em;
        margin: vars.$halfGutter*0.5;
        border-radius: 50%;

        &--occupied {
          background-color: vars.$layoutItemColor;
        }
      }
    }
  }

  &__team__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;

    &__dev {
      width: clamp(5rem, 12vw, 10rem);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: vars.$halfGutter;

      p {
        margin: 0;
      }

      .card__avatar {
        background-color: vars.$textColor;
        margin: 0;
      }
    }
  }
}

.relocate {

  &__select {

    p {
      margin: 0 vars.$halfGutter;
    }

    display: flex;
    justify-content: center;
  }

  &__button {
    justify-self: end;
    margin-bottom: vars.$gutter;
  }
}
