@use 'src/styles/vars';

.recruitment {

  &__dev__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  &__dev__li {
    padding: vars.$gutter;
    width: 100%;
    min-height: 10rem;

    @media (min-width: vars.$desktopMinWidth) {
      width: 33%;
    }
  }
}
