@use 'src/styles/vars';

.recruitment{
  &__dev_list {
    display: flex;
    flex-wrap: wrap;
  }

  &__dev_li {
    margin: vars.$gutter;
    min-width: 20em;
    width: 33%;
    min-height: 10rem;
  }
}
