@use 'src/styles/vars';

.recruitment {
    &__header{
    position: sticky;
    width: 100%;
    margin: 0;
    padding: vars.$gutter;
    background-color: vars.$boxHeaderBackgroundColor;
    color: vars.$boxHeaderColor;
    text-align: left;
  }

  &__dev__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      width: 100%;
      min-height: 10rem;
  
      @media (min-width: vars.$desktopMinWidth) {
        width: 33%;
      }
    }
  }

}
