@use 'src/styles/vars';

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  height: vars.$wrapperHeightMobile;
  width: 93vw;
  margin: vars.$halfGutter;
  z-index: 2;
  border: vars.$boxBorder;
  border-radius: vars.$boxBorderRadius;
  box-shadow: vars.$boxShadow;
  overflow: auto;

  @media (min-width: vars.$desktopMinWidth){
    height: vars.$wrapperHeightDesktop;
    width: 92vw;
  }
}

