@use 'src/styles/vars';

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: vars.$wrapperHeightMobile;
  //min-height: 100%;
  //margin: vars.$halfGutter;
  //z-index: 2;
  border: vars.$boxBorder;
  border-radius: vars.$boxBorderRadius;
  box-shadow: vars.$boxShadow;
  overflow: hidden;

  @media (min-width: vars.$desktopMinWidth){
    max-height: vars.$wrapperHeightDesktop;
    max-width: 92vw;
  }
}

