@use 'sass:math';

// Fonts
@font-face {
  font-family: 'Press Start 2P';
  src: local('Press Start 2P'), url(src/assets/fonts/PressStart2P-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto  Mono'), url(src/assets/fonts/RobotoMono-VariableFont_wght.ttf) format('truetype');
  font-weight: normal;
}

$fontFamily: 'Roboto Mono' ,sans-serif;
$fontFamilyPixel: 'Press Start 2P', 'Roboto Mono', sans-serif;

$fontSize: 100%;

// Breakpoints
$desktopMinWidth: 800px;

// Colors
$mainColor: #2E282A;
$mainColorTransparent: rgba(46, 40, 42, 0.8);
$textColor: #EEE;
// navBar, redirection buttons
$layoutItemColor: #17BEBB;
$layoutItemColorDark: #17bebb81;
// active links
$activeColor : #FFC914;
$activeColorDark : #ffc81486;
// Action 1 : play, add
$action1Color: #76B041;
$action1ColorDark: #77b0417c;
// Action 2 : stop, delete
$action2Color: #E4572E;
$action2ColorDark: #e4582e81;

// Gutters
$gutter: 1rem;
$halfGutter: math.div($gutter, 2);

// Layouts sizes
$headerHeight: 24vh;
$wrapperHeight: 58vh;
$footerHeight: 14vh;
$windowWidth: 90%;

// Box element
$boxAlign: left;
$boxPadding: $gutter;
$boxBorder: 2px solid $textColor;
$boxBorderRadius: 10px;
$boxShadow: 2px 2px $textColor, 4px 4px $textColor;
$boxShadowDarkMain: 0.1em 0.1em darken($mainColor, 10%), 0.2em 0.2em darken($mainColor, 10%);

// Box header
$boxHeaderBackgroundColor: $textColor;
$boxHeaderColor: $mainColor;
$boxHeaderTextAlign: left;
$boxHeaderMarginBottom: 2px solid $textColor;

// Button
$buttonPadding: $halfGutter;
$buttonColor: $textColor;
$buttonBorderRadius: 999px;
// Button:hover
$buttonHoverScale: scale(1.1);

// Images
// Icones
$iconeHeightMobile: 2rem;
$iconeHeightDesktop: 3rem;
// Text images
$textImageHeightMobile: 1rem;
$textImageHeightDesktop: 1rem;
// Avatar
$avatarHeightMobile: 2rem;
$avatarHeightDesktop: 3rem;
