@use 'src/styles/vars';

.individualProject {
  &__infos {
    margin: vars.$gutter;
    text-align: left;

    p,
    h3 {
      margin: vars.$halfGutter;
      margin-left: vars.$halfGutter;

      &:first-child {
        font-family: vars.$fontFamilyPixel;
      }
    }

    &__elmt {
      display: flex;
      flex-wrap: wrap;
      justify-items: start;
      align-items: center;

      img {
        height: 1rem;

        @media(min-width: 800px) {
          height: 2rem;
        }
      }
    }
  }
}
