@use 'src/styles/vars';

.app {
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  min-width: 100vw;
  font-family: vars.$fontFamily;
  background-color: vars.$mainColor;
  color: vars.$textColor;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  h1 {
    margin-top: vars.$halfGutter;
    font-size: 1.1rem;
  }
  
  h2 {
    margin-top: 0;
    font-size: 1rem;
  }
  
  h3 {
    margin-top: 0;
    font-size: 0.8rem;
  }

  @media (min-width: vars.$desktopMinWidth) {

    h1,
    h2,
    h3 {
      font-family: vars.$fontFamilyPixel;
    }
  }

  // Bold content
  .bold {
    font-weight: bold;
  }

  // Images
  img {
    &.icone {
      height: vars.$iconeHeightMobile;
    }

    &.text-image {
      height: vars.$textImageHeightMobile;
    }

    &.avatar {
      height: vars.$avatarHeightMobile;
    }
  }

  // Buttons
  button {
    border: none;
    border-radius: vars.$buttonBorderRadius;
    font-family: vars.$fontFamily;
    color: vars.$mainColor;
    padding: 0.5*vars.$buttonPadding 2*vars.$buttonPadding;
    width: fit-content;

    &:hover {
      cursor: pointer;
      transform: vars.$buttonHoverScale;
    }
  }

  // Content header
  .box {
    position: relative;
    border: vars.$boxBorder;
    border-radius: vars.$boxBorderRadius;
    box-shadow: vars.$boxShadow;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    max-height: 100%;
    max-height: vars.$wrapperHeight;

    @media (min-width: vars.$desktopMinWidth) {
    }

    &__header {
      position: sticky;
      top: 0;
      z-index: 4;
      width: 100%;
      padding: vars.$halfGutter;
      padding-left: vars.$gutter;
      background-color: vars.$boxHeaderBackgroundColor;
      color: vars.$boxHeaderColor;
      text-align: left;
      border-bottom: 6px solid vars.$mainColor;
      &__title {
        margin: vars.$halfGutter;
      }
    }
  }

  // Cards list
  .cards__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    max-height: 100%;

    &__li {
      padding: 0 0 clamp(3rem, 3vw, 10rem);
      width: 100%;

      @media (min-width: vars.$desktopMinWidth) {
        width: 50%;
      }

      @media (min-width: 1100px) {
        width: 33%;
      }

      @media (min-width: 1600px) {
        width: 25%;
      }
    }

    p {
      margin: 0;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: vars.$boxBorderRadius;
    background-color: vars.$textColor;
    color: vars.$mainColor;
    min-height: 80%;
    max-height: 12rem;
    box-shadow: vars.$boxShadowDarkMain;
    padding: vars.$gutter*2;
    margin: 1.1vw;
    text-decoration: none;
    transition: 0.5s;
    will-change: transform;
    overflow-y: hidden;

    &:hover {
      transition: 0.5s;
      transition-timing-function: ease-out;
      transform: translateY(-3px);

    }

    &__wrapper {
      display: flex;
      flex-direction: row;
    }

    &__infos {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &__avatar {
      background-color: vars.$mainColor;
      width: 4em;
      min-width: 4em;
      height: 4em;
      min-height: 4em;
      margin-right: vars.$gutter;
      border-radius: 50%;
    }

    &__button {
      align-self: end;
    }
  }

  // .modal {
  //   position: absolute;
  //   z-index: 2;
  //   height: 100vh;
  //   width: 100vw;
  //   background-color: vars.$mainColorTransparent;
  //   color: vars.$mainColor;
  //   display: flex;
  //   justify-content: center;

  //   &__content {
  //     width: 50%;
  //     background-color: vars.$textColor;
  //     padding: vars.$gutter;
  //   }
  // }
}
