@use 'src/styles/vars';


.button-close {
  padding: 0 !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
  border: none;
  border-radius: 50%;
  background-color: vars.$action2Color;
  box-shadow: 2px 2px vars.$action2ColorDark;
  
  p{
    margin: 0;
    font-size: 0.8rem;
    transform: rotate(45deg);
  }
}
