@use 'src/styles/vars';

.modal {
  position: absolute;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: vars.$mainColorTransparent;
  color: vars.$mainColor;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 50%;
    height: fit-content;
    border-radius: vars.$boxBorderRadius;
    box-shadow: 2px 2px vars.$mainColor;
    background-color: vars.$textColor;
    padding: vars.$gutter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__button-container {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
    }

    &__button-close {
      height: 1.5rem;
      width: 1.5rem;
      padding: 0;
      border: none;
      border-radius: 50%;
      background-color: vars.$action2Color;
      box-shadow: 2px 2px vars.$action2ColorDark;
      
      p{
        margin: 0;
        font-size: 0.8rem;
        transform: rotate(45deg);
      }
    }

    &__info {
      text-align: right;
      margin: 0;
      font-style: italic;
      font-size: 0.6rem;

      p {
        margin-top: 0;
        margin-right: vars.$halfGutter;
      }
    }

    form {
      @media (min-width: vars.$desktopMinWidth) {
        width: 50%;
      }

      div {
        display: flex;
        flex-direction: column;
        margin: vars.$gutter; 
      }

      input {
        padding: vars.$halfGutter;
      }
    }

    &__button {
      background-color: vars.$action1Color;
      box-shadow: 2px 2px vars.$action1ColorDark;
    }
  }
}
