@use 'src/styles/vars';

.wrapper {
  z-index: 0;
  position: fixed;
  top: vars.$headerHeightMobile + vars.$navBarHeightMobile + 6*vars.$gutter;
  height: 46rem - vars.$headerHeightMobile - vars.$footerHeightMobile;
  width: 110rem;
  margin: vars.$gutter;
  padding: vars.$gutter;
  border: vars.$boxBorder;
  border-radius: vars.$boxBorderRadius;
  box-shadow: vars.$boxShadow;
  overflow: auto;

  @media (min-width: 800px){
    top: vars.$headerHeightDesktop + 3*vars.$gutter;
    left: vars.$navBarWidthDesktop + 7*vars.$gutter;
    right: vars.$gutter;
  }
}
