@use 'src/styles/vars';

.devCard {
  display: flex;
  flex-direction: column;
  border-radius: vars.$boxBorderRadius;
  background-color: vars.$textColor;
  color: vars.$mainColor;
  margin: auto;
  padding: vars.$gutter;
}

.button {
  margin: vars.$gutter;
  border: none;
  border-radius: vars.$boxBorderRadius;
  padding: vars.$halfGutter vars.$gutter;
  font-family: vars.$fontFamily;
  font-size: 1rem;
  color: vars.$mainColor;

  @media (min-width: 800px){
    font-size: 0.6rem;
  }

  &__fire {
    background-color: vars.$red;
  }

  &__recruit{
    background-color: vars.$green;

  }
}
