@use 'src/styles/vars';

.button {

  &__recruit {
    background-color: vars.$action1Color;
    box-shadow: 2px 2px vars.$action1ColorDark;
  }

  &__fire{
    background-color: vars.$action2Color;
    box-shadow: 2px 2px vars.$action2ColorDark;
  }
}
