@use 'src/styles/vars';

.employees{
    &__header{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    margin: none;
    padding: vars.$gutter;
    background-color: vars.$boxHeaderBackgroundColor;
    color: vars.$boxHeaderColor;
    text-align: left;
  }
 
  &__devlist {
    display: flex;
    flex-wrap: wrap;
  }
  
  &__dev_li {
    padding: vars.$gutter;
    width: 100%;
    min-height: 10rem;

    @media (min-width: 600px) {
      width: 50%;
    }

    @media (min-width: 900px) {
      width: 33%;
    }

    @media (min-width: 1400px) {
      width: 25%;
    }
  }
}
