@use 'src/styles/vars';

.recruitment{
  display: flex;
  flex-wrap: wrap;

  &__header{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    margin: none;
    padding: vars.$gutter;
    background-color: vars.$boxHeaderBackgroundColor;
    color: vars.$boxHeaderColor;
    text-align: left;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin: vars.$gutter;

    li {
      margin: vars.$gutter;
    }
  }
}

