@use 'src/styles/vars';

.rules{
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__content{
    padding: vars.$gutter;
    text-align: center;

    h3 {
      margin-top: 2*vars.$gutter;
      margin-bottom: vars.$halfGutter;
    }

    @media (min-width: vars.$desktopMinWidth){
      padding: vars.$gutter 10*vars.$gutter;
    }
  }
}
