@use 'src/styles/vars';

.newProject {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    label {
      font-family: vars.$fontFamilyPixel;
    }

    input, textarea, select {
      font-size: 1rem;
      margin: vars.$halfGutter; 
      margin-bottom: vars.$gutter;
      padding: vars.$halfGutter;

      @media (min-width: vars.$desktopMinWidth) {
        width: 100%;
        margin: vars.$gutter; 
      }
    }

    div.individualProject__team__devs {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    ul {
      margin-top: 0;
      padding-left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        div.newDev__infos {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          margin: 0;

          p {
            margin-right: vars.$halfGutter;
          }
        }
      }   
    }

    .difficulty__range {
      margin: vars.$halfGutter; 
    }
  }

  &__benefits {
    margin-bottom: vars.$gutter;

    &__title {
      font-family: vars.$fontFamilyPixel;
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      img {
        height: 1rem;
        width: 1rem;
        @media (min-width: vars.$desktopMinWidth) {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
      
      p {
        margin: vars.$halfGutter;
      }
    }
  }
}
