@use 'src/styles/vars';

.footer {
  display: flex;
  width: vars.$windowWidth;
  justify-self: end;
  margin-top: 0;
  margin: vars.$halfGutter;

  &__content {
    width: 100%;
    border: vars.$boxBorder;
    border-radius: vars.$boxBorderRadius;
    box-shadow: vars.$boxShadow;
    
    &__links {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: vars.$halfGutter;
    }
    
    &__link{
      font-family: vars.$fontFamilyPixel;
      color: vars.$textColor;
      text-decoration: none;
      margin: 0 2*vars.$gutter;
      font-size: 0.8rem;

      &:hover {
        color: vars.$activeColorDark;
      }

      &__active {
        color: vars.$activeColor;
      }
    }

    &__text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.7rem;

      @media (min-width: vars.$desktopMinWidth){
        font-size: 1rem;
      }

      p{
        margin: vars.$halfGutter;
      }

      img { 
        margin: 0 0.2rem 0 0.2rem;
      }
    }

    a {
      color: vars.$textColor;
    }
  }
}
