@use 'src/styles/vars';

.footer {
  position: fixed;
  bottom: 0;
  height: vars.$footerHeight;
  width: 100vw;

  &__content {
    margin: vars.$halfGutter;
    background-color: vars.$mainColor;
    border: vars.$boxBorder;
    border-radius: vars.$boxBorderRadius;
    box-shadow: vars.$boxShadow;
    
    @media (min-width: vars.$desktopMinWidth){
      margin: vars.$gutter;
    }

    &__links {
      display: flex;
      justify-content: center;
      margin-top: vars.$halfGutter;

      @media (min-width: vars.$desktopMinWidth){
        margin-top: vars.$gutter;
      }
    }
    
    &__link{
      font-family: vars.$fontFamilyPixel;
      color: vars.$textColor;
      text-decoration: none;
      margin: 0 2*vars.$gutter;
      font-size: 0.8rem;

      @media (min-width: vars.$desktopMinWidth){
        font-size: 0.8rem;
      }

      &:hover {
        color: vars.$activeColorDark;
      }

      &__active {
        color: vars.$activeColor;
      }
    }

    &__text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;

      p{
        margin: vars.$halfGutter;
      }

      img { 
        margin: 0 0.2rem 0 0.2rem;
      }
    }
  }
}
