@use 'src/styles/vars';

.legals {
  &__content {
    padding: vars.$gutter;
    text-align: justify;

    h3, h4 {
      text-align: center;
    }

    a {
      color: vars.$textColor;
    }

    @media (min-width: vars.$desktopMinWidth){
      padding: vars.$gutter 5*vars.$gutter;
    }
  }
}
