@use 'src/styles/vars';

.navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin:  0 0 vars.$halfGutter;

  @media (min-width: vars.$desktopMinWidth){
  width: fit-content;
  flex-direction: column;
  margin-right: vars.$gutter;
  //justify-content: space-evenly;
  //align-items: center;
  }

  &__element {
    position: relative;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: vars.$layoutItemColor;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: vars.$desktopMinWidth){
      //height: 5rem;
      //width: 5rem;
      //margin: vars.$halfGutter;
    }

    &__icon {
      filter:invert(0.8)
    }

    &__name {
      display: none;
    }

    &__active {
      background-color: vars.$activeColor;
      color: vars.$mainColor;
    }

    &:hover {
      background-color: vars.$layoutItemColorDark;
    }

    @media (min-width: vars.$desktopMinWidth){
      .navbar__element__name{
        z-index: 5;
        display: none;
        pointer-events: none;
        background-color: vars.$mainColor;
        color: vars.$textColor;
        border: vars.$boxBorder;
        border-radius: 64px;
        left: 110%;
        position: absolute;
        padding: vars.$halfGutter*0.1 vars.$gutter;
        white-space: nowrap;
      }

      &:hover .navbar__element__name{
        display: block;
        pointer-events: initial;
      }
    }
  }
}
