@use 'src/styles/vars';

.navbar {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 0 vars.$gutter vars.$halfGutter 0;

  @media (min-width: vars.$desktopMinWidth) {
    height: 100%;
    width: fit-content;
    flex-direction: column;
  }

  &__element {
    position: relative;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: vars.$layoutItemColor;
    box-shadow: vars.$boxShadowLayoutColor;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (min-width: vars.$desktopMinWidth) {
      height: 5rem;
      width: 5rem;
    }

    &__name {
      display: none;
    }

    &__active {
      background-color: vars.$activeColor;
      box-shadow: vars.$boxShadowActiveColor;

      .navbar__element__icon {
        filter: invert(0.9);
      }
    }

    &:hover {
      background-color: vars.$layoutItemColorDark;
      box-shadow: 2px 2px darken(vars.$mainColor, 2%);
    }

    @media (min-width: vars.$desktopMinWidth) {
      .navbar__element__name {
        z-index: 5;
        display: none;
        pointer-events: none;
        background-color: vars.$mainColor;
        color: vars.$textColor;
        border: vars.$boxBorder;
        border-radius: 64px;
        left: 110%;
        position: absolute;
        padding: vars.$halfGutter*0.1 vars.$gutter;
        white-space: nowrap;
      }

      &:hover .navbar__element__name {
        display: block;
        pointer-events: initial;
      }
    }
  }
}
