@use 'src/styles/vars';

.wrapper {
  z-index: 0;
  position: fixed;
  top: vars.$headerHeightMobile + vars.$navbarHeightMobile;
  bottom: vars.$footerHeightMobile + 2*vars.$gutter;
  height: 46rem - vars.$headerHeightMobile - vars.$footerHeightMobile;
  max-width: 110rem;
  margin: vars.$gutter;
  padding: vars.$gutter;
  border: vars.$boxBorder;
  border-radius: vars.$boxBorderRadius;
  box-shadow: vars.$boxShadow;
  overflow-y: auto;
  overflow-x: hidden;

  @media (min-width: 800px){
    top: vars.$headerHeightDesktop + 3*vars.$gutter;
    bottom: vars.$footerHeightDesktop + 3*vars.$gutter;
  }
}
