@use 'src/styles/vars';

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  top: vars.$headerHeightMobile;
  height: vars.$wrapperHeightMobile;
  background-color: vars.$mainColor;

  @media (min-width: vars.$desktopMinWidth){
    flex-direction: row;
    top: vars.$headerHeightDesktop;
    height: vars.$wrapperHeightDesktop;
    overflow: hidden;
  }
}
