@use 'src/styles/vars';

.wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: start;
  flex: 1;
  width: vars.$windowWidth;
  margin: 0 vars.$halfGutter vars.$halfGutter;

  @media (min-width: vars.$desktopMinWidth){
    flex-direction: row;
  }
}
