@use 'src/styles/vars';
//TODO vérifier ce fichier, et notamment la correspondance des classes

.projects {
  &__header{
    position: sticky;
    width: 100%;
    margin: 0;
    padding: vars.$gutter;
    background-color: vars.$boxHeaderBackgroundColor;
    color: vars.$boxHeaderColor;
    text-align: left;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin: vars.$gutter;

    li {
      display: flex;
      flex-direction: column;
      border-radius: vars.$boxBorderRadius;
      background-color: vars.$textColor;
      color: vars.$mainColor;
      margin: vars.$gutter;
      padding: vars.$gutter;
    }
  }

  &__button {
    margin: vars.$gutter;
    border: none;
    border-radius: vars.$boxBorderRadius;
    padding: vars.$halfGutter vars.$gutter;
    font-family: vars.$fontFamily;
    font-size: 1rem;
    color: vars.$mainColor;
    background-color: vars.$green;
  }
}

// j'ai gardé les deux à vérifier
.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: vars.$boxBorderRadius;
  background-color: vars.$textColor;
  color: vars.$mainColor;
  padding: vars.$gutter*2;
  margin-bottom: vars.$gutter*2;
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  box-shadow: vars.$boxShadowDarkMain;

<<<<<<< HEAD
  &__name {
    font-size: 1.5em;
=======
    &__name {
      font-size: 1.5em;
    }
>>>>>>> c8b321b3e39c336e864c7658568272c8826b5b86
  }
}
