@use 'src/styles/vars';

.contact {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    padding: vars.$gutter;
    text-align: center;

    @media (min-width: vars.$desktopMinWidth){
      padding: vars.$gutter 10*vars.$gutter;
    }

    div {
      margin-bottom: 2*vars.$gutter;
    }

    &__team {
      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-left: 0;

        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 0.8rem;
          line-height: 0.1rem;
          margin-bottom: vars.$gutter;

          @media (min-width: vars.$desktopMinWidth){
            font-size: 1rem;
            margin-bottom: 0;
          }

          img {
            height: 3rem;
            width: 3rem;

            @media (min-width: vars.$desktopMinWidth){
              height: 8rem;
              width: 8rem;
            }
          }
        }
      }
    }
  }
}
